body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
svg {
    width:95px;
    height:95px;
    fill:grey;
}
#dateTime {
    margin: 0!important;
}